<br><br>
<img src="../../../../assets/img/fondologin.jpg" class="imagen">
<div class="login">
    <h1 class="bg-success sombra" style=" color:white; border-radius: 10px;">Login</h1>
    <form [formGroup]="reactiveForm" *ngIf="reactiveForm"> 
        <div class="form-group">
          <label for="formGroupExampleInput"><b>Usuario</b></label>
          <input style ="box-shadow: 3px 5px grey;" type="text" class="form-control" name="username" formControlName="username" required placeholder="Usuario" [(ngModel)]="userAuth.username" >
          <!--<span style="color:red;" *ngIf="reactiveForm.controls.username.status === 'INVALID' && formSubmitted">
            *name required
          </span>-->
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2"><b>Contraseña</b></label>
          <input style ="box-shadow: 3px 5px grey;" type="password" class="form-control" name="password" formControlName="password" required placeholder="Contraseña" [(ngModel)]="userAuth.password">
          <!--<span style="color:red;" *ngIf="reactiveForm.controls.password.status === 'INVALID' && formSubmitted">
            *password required
          </span> -->
        </div>
        <button class="btn btn-success sombra" type="submit" (click)="login()">Confirmar</button>
        <div *ngIf="incorrecto">
          <p style="color:red;">Usuario o contraseña incorrecta</p>
        </div>
      </form>
</div>
