<div class="jumbotron jumbotron-fluid">
  <button (click)="logout()" [routerLink]="['../login']" class="btn btn-danger botonRojo">Crerrar Sesion</button>
    <div class="container">
      <div>
        <h1> Categorias</h1>
        <button [routerLink]="['music']" class="btn btn-success botonesVerdes">Musica</button>
        <button [routerLink]="['participants']" class="btn btn-success botonesVerdes" style="margin-left: 5px;">Participantes</button>
      </div><br>
      <h1 class="display-4">Artistas Top</h1>
      <p class="lead">Descubre los artistas de moda.</p>
    </div>
  </div>
  
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of items" >
            <div class="card mb-4 box-shadow tarjetas">
              <img class="card-img-top" [src]="item.images.length > 0 ? item.images[0].url : '' ">
              <div class="card-body" style=" border-color: black;" >
                <h2>{{item.name}}</h2>
                <p class="card-text">
                    <span *ngFor="let genero of item.genres" class="badge badge-success">
                        {{genero}}
                    </span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>



