<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of album">
          <div class="card mb-4 box-shadow" style="border:solid; border-radius: 8px;">
            <img class="card-img-top" [src]="item.images.length > 0 ? item.images[0].url : '' ">
            <div class="card-body">
              <h2>{{item.name}}</h2>
              <p class="card-text">
                  <span *ngFor="let genero of item.genres" class="badge badge-success">
                      {{genero}}
                  </span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>