.artista{
    text-align: center; 
    color: white; 
    font-size: 25px; 
    margin-top:-31px;
    border-radius: 10px;
    box-shadow: 3px 5px grey;
}
.canciones{
    text-align: center; 
    color: white; 
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 3px 5px grey;
}
.usuario{
    height: 140px; 
    width: 160px; 
    position: absolute;
    margin-left: 900px;
    margin-top: -110px;
    border:solid; 
    border-radius:8px;
}

.encabezado{
    color: white; 
    border-radius: 20px; 
    border:solid
}

.tarjetas{
    border-color: black; 
    border:solid; 
    border-color:black; 
    box-shadow: 7px 12px grey;
}